div.bblue {
	margin:6px;
	padding:6px;
	border:1px solid #3333FF;
	background-color:#CCCCFF;
	width:95%;
}

div.bred {
	margin:6px;
	padding:6px;
	border:1px solid #FF3333;
	background-color:#FFCCCC;
	width:95%;
}

div.bgreen {
	margin:6px;
	padding:6px;
	border:1px solid #33FF33;
	background-color:#CCFFCC;
	width:95%;
}

div.bcyan {
	margin:6px;
	padding:6px;
	border:1px solid #33FFFF;
	background-color:#CCFFFF;
	width:95%;
}

div.bpink {
	margin:6px;
	padding:6px;
	border:1px solid #FF33FF;
	background-color:#FFCCFF;
	width:95%;
}

div.byellow {
	margin:6px;
	padding:6px;
	border:1px solid #FFFF33;
	background-color:#FFFFCC;
	width:95%;
}

div.bgrey {
	margin:6px;
	padding:6px;
	border:1px solid #333;
	background-color:#CCC;
	width:95%;
}